extends layouts/layout.pug

//- Head
block head
    title WPNL Live - Agenda

//- Main content:
block content

    section.intro
        h1 Agenda
        p Hier vind je een overzicht van alle komende en voorgaande edities van WPNL Live


    section.schedule
        h2.huge.left Coming up
            span.dot
        
        include elements/schedule.pug

    section.speakers
        h2.huge Vorige edities    
            span.dot

        .title-break 
            h2 Sessies - 23 Februari 2021

        article#monique
            img( src="/assets/dist/images/monique.jpg").avatar
            .card
                h3 Monique Dubbelman
                h4.title Verbeter de usability van je website in 10 stappen
                a(href="https://www.youtube.com/watch?v=YJmALoErl50").button
                    Bekijk Monique's Talk

        article#andree.pic-right
            img( src="/assets/dist/images/andree.jpg").avatar
            .card
                h3 Andrée Lange
                h4.title 10 tips om de conversie op je formulieren te verhogen

                a(href="https://www.youtube.com/watch?v=btzTPfMv4F4").button
                    Bekijk Andrée's Talk


        .title-break 
            h2 Sessies - 26 November 2020

    
        article#marieke
            img( src="/assets/dist/images/marieke.jpg").avatar
            .card
                h3 Marieke van de Rakt
                h4.title Met Content SEO het verschil maken in de zoekmachines!

                a(href="https://www.youtube.com/watch?v=Mls4XwWpLs8").button.
                    Bekijk Marieke's Talk
               

        article#francesca.pic-right
            img( src="/assets/dist/images/francesca.jpg").avatar
            .card
                h3 Francesca Marano
                h4.title A non-technical woman in tech: my path as a WordPress Core contributor

                a(href="https://www.youtube.com/watch?v=H6DQWKxwPok").button.
                    Check out Francesca's Talk


        .title-break
            h2 Workshop - 24 September 2020
        
        article#rian
            img( src="/assets/dist/images/rian.jpg").avatar
            .card
                h3 Rian Rietveld
                h4.title Workshop Web Accessibility
                a(href="https://www.youtube.com/watch?v=-zDB058NDg8").button.
                    Bekijk Rian's Workshop

                a(href="https://www.youtube.com/watch?v=6-1_w2bC7AQ").button.
                    Bekijk Rian's <br/>
                    Accessibility review (26-11-2020)

        .title-break
            h2 Sessies - 30 Juli 2020

        article#niels
            img( src="/assets/dist/images/niels.jpg").avatar
            .card
                h3 Niels de Blaauw
                h4.title Jouw maatschappelijk verantwoorde website (NL)
                a(href="https://www.youtube.com/watch?v=QGQ4RIAEnQ0").button.
                    Bekijk Niels z'n Talk


        article#bas.pic-right
            img( src="/assets/dist/images/bas.jpg").avatar
            .card
                h3 Sebastiaan van der Lans
                h4.title "WordProof, Bouwen aan een Betrouwbaar Internet?" (NL)
                a(href="https://www.youtube.com/watch?v=rNmXWfytDlI").button.
                    Bekijk Bas z'n Talk


        .title-break
            h2 Sessies - 25 Juni 2020

        article#jessica
            img( src="/assets/dist/images/jessica.jpg").avatar
            .card
                h3 Jessica Risch
                h4.title Hoe automatiseer je een technische support afdeling? (NL)
                a(href="https://www.youtube.com/watch?v=5MfZZfuNG0Q").button.
                    Bekijk Jessica's Talk


        article#jaime.pic-right
            img( src="/assets/dist/images/jaime.jpg").avatar
            .card
                h3 Jaime Martinez
                h4.title "Zoeken binnen WordPress “Is it me you're looking for?" (NL)
                a(href="https://www.youtube.com/watch?v=M5tsJPk4jso").button.
                    Bekijk Jaime's Talk


        .title-break
            h2 Sessions - May 28th 2020

        article#pavel
            img( src="/assets/dist/images/pavel.jpg").avatar
            .card
                h3 Pavel Ciorici
                h4.title "When it's the right time to raise prices and how to keep your customers happy" (EN)
                a(href="https://www.youtube.com/watch?v=yXI4hIKU-W0").button.
                    Bekijk Pavel's talk

        article#karin.pic-right
            img( src="/assets/dist/images/karin.jpg").avatar
            .card
                h3 Karin Winters
                h4.title Juist NU succes met een eigen LMS. (LeerManagementSysteem) (NL)
                a(href="https://www.youtube.com/watch?v=Oby3G_9zu0I").button.
                    Bekijk Karin's talk


    include elements/cfs.pug