extends layouts/layout.pug

//- Head
block head
    title WPNL Live - Apply to Speak

//- Main content:
block content

    section.intro.margin
        h1 Apply to Speak
        p.center Do you have an interesting story to tell?

    section.content
        p. 
            If you’d like to be a part of one of the next WPNL Live editions, please let us know that you’re interested in speaking!
            All subjects and suggestions are welcome. We’re looking for talks about content, SEO, development, design and anything that involves creating a successful WordPress website. However, all of the presentations will be in Dutch.

        p If you have no experience in public speaking, there are a couple of people in the organizing team that would love to give you tips and pointers on your talk.

    .title-break
        h2 Please tell us a little bit about yourself...

    section.content
        form(netlify).apply-to-speak
            .field
                label(for="name") Your name *
                input(type="text" id="name" required)

            .field
                label(for="email") Your e-mail *
                input(type="email" id="email" required)

            .field
                label(for="twitter") Your twitter username
                input(type="twitter" id="twitter")

            .field
                label(for="experience") Previous public speaking experience
                small.description (if you have any links to taped versions of previous talks, please provide them)
                textarea(id="experience")

            .field
                label(for="talk") Provide a brief description of your talk in english
                textarea(id="talk" required)

            .field
                label(for="bio") Please provide a short bio of yourself in english
                textarea(id="bio")

            input.button(type="submit" value="Apply to speak at WPNL Live")