extends layouts/layout.pug

//- Head
block head
    title WPNL Live - Aanmelden als spreker

//- Main content:
block content

    section.intro.margin
        h1 Aanmelden als spreker
        p.center Heb jij iets interessants te vertellen?

    section.content

        p. 
            Mocht je jezelf geroepen voelen om een presentatie te geven op een van deze gloednieuwe evenementen, 
            laat dan alsjeblieft van je horen en meld je aan!
            Alle onderwerpen en suggesties zijn welkom; we zoeken talks over content, SEO, techniek, design en alles wat er komt kijken bij een succesvolle WordPress website. De presentaties zullen allemaal in het Nederlands zijn.


        p Mocht je nog helemaal geen ervaring met spreken hebben dan zijn er mensen in de organisatie die je graag zouden willen begeleiden in het geven van je eerste presentatie.

    .title-break
        h2 Vertel ons iets over jezelf aub...

    section.content
        form(netlify).apply-to-speak
            .field
                label(for="name") Je naam *
                input(type="text" name="name" id="name" required)

            .field
                label(for="email") Je e-mailadres *
                input(type="email" name="email" id="email" required)

            .field
                label(for="twitter") Je twitter username
                input(type="twitter" name="twitter" id="twitter")

            .field
                label(for="experience") Presentatieervaring
                small.description (heb je links naar videos van een van je presentaties? deel ze dan aub!)
                textarea(id="experience" name="experience")
            
            .field 
                label(for="date") 
                select(name="date")
                    option(value="23-2-2021") Dinsdag 23 februari
                    option(value="27-5-2021") Donderdag 27 mei
                    option(value="24-9-2021") Dinsdag 24 augustus
                    option(value="25-11-2021") Donderdag 25 november

            .field
                label(for="talk") Waar gaat je presentatie over? 
                textarea(id="talk" name="talk" required)

            .field
                label(for="bio") Geef ons een korte bio over jezelf?
                textarea(id="bio" name="bio")

            input.button(type="submit" value="Aanmelden als spreker op WPNL Live")