extends layouts/layout.pug

//- Head
block head
    title WPNL Live - Community

//- Main content:
block content

    section.intro.margin
        h1 Community
        p.center WPNL Live is organized by the dutch WordPress community

    h2.huge Welcome 
        span.dot.exclamation

    section.content
        p. 
            Have you been pleasantly surprised by the amount of awesome people in the dutch WordPress Community?
            Then give our communal Slack Channel a try! Chances are you're able to find some like-minded people there.
            There's also a whole bunch of people willing to help you with any WordPress problem you might have!

        a.button.center(href="https://wpnl.slack.com/signup/") Sign up for the Dutch WordPress Slack!

    .title-break
        h2 Physical Meetups

    section.content
        p. 
            The dutch WordPress community has a strong network of awesome Meetups we encourage you to visit,
            once they start back up again.

        a.button.center(href="https://nl.wordpress.org/community/meetups/") Check out all the dutch WordPress meetups!

            