extends layouts/layout.pug

//- Head
block head
    title WPNL Live - Community

//- Main content:
block content

    section.intro.margin
        h1 Community
        p.center WPNL Live wordt georganiseerd door de Nederlandse WordPress community

    h2.huge Welcome 
        span.dot.exclamation

    section.content
        p. 
            Ben je aangenaam verrast door het aantal toffe mensen in de Nederlandse en Belgische WordPress community?
            Probeer ons Slack Channel dan eens! De kans is groot dat je hier nóg meer goeie contacten maakt.
            Er zijn altijd een hoop mensen op slack om je te helpen met jouw WordPress problemen!

        a.button.center(href="https://wpnl.slack.com/signup/") Aanmelden voor de Nederlandse WordPress Slack!

        a.button.center(href="https://wpbelgium.be/slack/") Aanmelden voor de Belgische WordPress Slack!

    .title-break
        h2 Fysieke meetups

    section.content
        p. 
            De Nederlandse WordPress community heeft een sterk netwerk aan toffe meetups om te bezoeken.
            We raden aan om je eens aan te melden als ze straks weer beginnen!

        a.button.center(href="https://nl.wordpress.org/community/meetups/") Check out all the dutch WordPress meetups!

            