extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro
        h1 De volgende editie van WPNL Live is 29 Oktober om 15:00u

    section.form.break-out
        p Tijdens de volgende WPNL Live proberen we iets nieuws: Tribe Meetings!
        p We organiseren twee kringgesprekken, elk start om 15:00 uur op 29 oktober. Wil je mee praten? Meld je dan even aan:

        .columns
            .column
                h2 Gutenberg Development
                p. 
                    Onder leiding van gespreksleider Luc Princen gaan we het hebben over de 
                    ontwikkelingen in Gutenberg. Hierin kijken we voornamelijk naar custom
                    blocks en de toekomst van Gutenberg als site-editor

                include elements/form-gb.pug
            .column
                h2 Nederlandse WordPress Community
                p. 
                    Samen met gespreksleider Remkus de Vries wordt er in deze tribe meeting
                    gekeken naar de toekomst van de Nederlandse WordPress community. Heb je ideeën?
                    Feedback? Zou je zelf een steentje bij willen dragen? Dit is de plek om er over
                    te komen praten!

                include elements/form-wp.pug


    include elements/schedule.pug
    
    section.sponsors
        h2.huge Onze Sponsoren
            span.dot

        p Dankzij <a href="https://yoast.com">Yoast</a>, en <a href="https://weglot.com/">Weglot</a> is WordPress Nederland in staat om deze digital meetups te organiseren! 🎉
        a(href="https://yoast.com").sponsor
            +icon('yoast')
        a(href="https://weglot.com").sponsor.weglot
            img(src="assets/dist/images/weglot.png")
