extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro
        h1 Hallway track editie!
        p Op vrijdag 23 April organiseerd WPNL Live om 15:00u een WordPress-borrel!
        p Aanmelden is niet nodig als je jezelf al ooit hebt aangemeld voor WPNL Live. Hou anders het <a href="https://wpnl.slack.com/signup/">WPNL Slack kanaal</a> in de gaten!



    section.schedule
        h2.huge.left Agenda
            span.dot
        
        include elements/schedule.pug
