extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro.title
        h1 De volgende editie van<br/>WPNL Live is 28 Januari om 15u

    
    section.form.break-out
        p Tijdens de volgende WPNL Live houden we weer twee Tribe Meetings! 
        p We organiseren twee kringgesprekken om 15:00u. Wil je mee praten? Meld je dan even aan:

        .columns
            .column
                h2 Content Creators
                p. 
                    Of je  nu wervende marketingteksten schrijft, een blog bijhoud of helemaal gericht bent
                    op zoekmachine-vriendelijke teksten: wij willen jouw ervaringen horen! 
                    Onder leiding van gespreksleidster Yvette Sonneveld gaan we het hebben over
                    hét ding waar WordPress voor gebouwd is; content publiceren! 

                include elements/form-tribe-1.pug
            .column
                h2 WordPress Agencies
                p. 
                    Hoe groei je als bedrijf? Wat houdt het in om personeel aan te nemen? Welke kansen en uitdagingen liggen er
                    voor de Nederlandse WordPress Agencies in 2021? Samen met gespreksleidster Rosanne van Staalduinen wordt er in deze tribe meeting
                    gekeken naar de toekomst van WordPress Agencies. 

                include elements/form-tribe-2.pug

    section.schedule
        h2.huge.left Agenda
            span.dot
        
        include elements/schedule.pug
