extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro.title
        h1 De volgende editie van<br/>WPNL Live is 28 Januari

    
    section.form.break-out
        p Tijdens de volgende WPNL Live houden we weer twee Tribe Meetings! 
        p We organiseren twee kringgesprekken. Wil je mee praten? Meld je dan even aan:

        .columns
            .column
                h2 Content Creators
                p. 
                    Onder leiding van gespreksleidster Yvette Sonneveld gaan we het hebben over
                    hét ding waar WordPress voor gebouwd is; content publiceren! Of je  nu
                    wervende marketingteksten schrijft, een blog bijhoud of helemaal gericht bent
                    op zoekmachine-vriendelijke teksten: wij willen jouw ervaringen horen! 

                include elements/form-tribe-1.pug
            .column
                h2 WordPress Agencies
                p. 
                    Samen met gespreksleidster Rosanne van Staalduinen wordt er in deze tribe meeting
                    gekeken naar de toekomst van WordPress Agencies. Hoe groei je als bedrijf? Wat 
                    houdt het in om personeel aan te nemen? Welke kansen en uitdagingen liggen er
                    voor de Nederlandse WordPress Agencies in 2021?

                include elements/form-tribe-2.pug

    
    include elements/schedule.pug
