extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro
        h1 Tot 30 Juli!
        p Dan organiseren we onze derde WPNL Live, waar weer twee gave sprekers ons digitale podium zullen betreden vanaf 15u!

    section.form
        p Onze lightning talks starten om 15u in <strong>Zoom</strong>.
        p Meld je nu aan voor de volgende editie!
        include elements/form.pug


    
    section.sponsors
        h2.huge Onze Sponsoren
            span.dot

        p Dankzij <a href="https://yoast.com">Yoast</a>, en <a href="https://weglot.com/">Weglot</a> is WordPress Nederland in staat om deze digital meetups te organiseren! 🎉
        a(href="https://yoast.com").sponsor
            +icon('yoast')
        a(href="https://weglot.com").sponsor.weglot
            img(src="assets/dist/images/weglot.png")
