extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro
        h1 Editie van WPNL Live <br/>op 25 Maart is uitgesteld.
        p De Q&A met ICT Jurist Arnoud Engelfriet zal op een nader te bepalen dag in april worden ingehaald. 

    include elements/speakers.pug


    section.schedule
        h2.huge.left Agenda
            span.dot
        
        include elements/schedule.pug


    include elements/cfs.pug
