extends layouts/layout.pug

//- Head
block head
    title WPNL Live

//- Main content:
block content

    section.intro
        h1 We zien jullie weer in 2021!
        p Blijf de site en onze social media in de gaten houden voor de volgende data!

    
    section.sponsors
        h2.huge Onze Sponsoren
            span.dot

        p Dankzij <a href="https://yoast.com">Yoast</a>, en <a href="https://weglot.com/">Weglot</a> is WordPress Nederland in staat om deze digital meetups te organiseren! 🎉
        a(href="https://yoast.com").sponsor
            +icon('yoast')
        a(href="https://weglot.com").sponsor.weglot
            img(src="assets/dist/images/weglot.png")
        a(href="https://a11y-collective.com/").sponsor.ally
            img(src="assets/dist/images/a11y.png")