
.form, form{
    background: #FFFFFF;
}


.form.last{
    padding-top: 45px;
    > p{
        padding: 0 15px;
    }

    &.margin-top{
        margin-top: 90px;
    }
}

.ml-form-embedContent > p{
    display: none !important;
}

.ml-form-successContent h4{
    font-size: 15px !important;
}


form{
    label{ display: block;}

    .field{
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 15px;
    }

    input, textarea, select{
        padding: 5px;
        font-size: 1.5rem;
        outline: none;

        &:focus{
            outline: 3px solid black;
        }
        
        @media only screen and (min-width: 700px ){
            width: 60%;
        }
    }

    select{
        font-size: 1.2rem;
    }
    
    textarea{
        width: 100%;
        min-height: 100px;
    }

    &.apply-to-speak{
        padding: 15px;
        background: #eee;
    }

    .button{
        background: black;
        font-size: 1.2rem;
        text-decoration: underline;
        color: white;
        border-radius: 3px;
        border: 0;
        width: auto;
        padding: 14px 28px;
        cursor: pointer;

        &:hover, &:focus{
            background: $mint;
            color: black;
        }
    }
}


.form p{
    text-align: center;
    font-size: 1.3rem;
    line-height: 130%;
}

.tinyletter, .embedForm{
    width: 95% !important;
    max-width: 650px !important;
    margin: 40px auto !important;
    padding: 19px 15px 40px 19px !important;
    display: block;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
    box-shadow: 0 5px 27px rgba(0, 0, 0, .2) !important;
    line-height: 150%;
    border: 0 !important;
}

#tlemail {
    display: block;
    margin: 0 10px 0 0;
    min-width: 200px;
    padding: 12px 10px 11px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: none;
}

.tinyletter label {
    font-size: 1.6em;
    margin-bottom: 13px;
    font-weight: 600;
    width: 100%;
    text-align: left;  
    display: block; 
}

.tinyletter .field-wrap{
    display: flex;
    flex-flow: column nowrap;
}

.tinyletter .field-wrap > *{
    flex: 1; 
    width: 100%;
}

@media only screen and (min-width: 600px){
    .tinyletter .field-wrap{
        flex-flow: row nowrap;
    }

    .tinyletter .field-wrap #tlemail{
        flex: 2;
    }
}

#tlesubmit {
    margin: 0;
    min-width: 75px;
    color: #FFFFFF;
    background-color: #000000;
    display: inline-block;
    white-space: nowrap;
    height: 40px;
    line-height: 42px;
    padding: 0 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
}
#tlesubmit:hover {
    color: #000000;
    background-color: #00FF97;
}

.tinyletter small{
    font-size: .8rem;
    width: 100%;
    display: block;
    clear: both;
    margin: 5px 0 -20px 0;
}


.form.last{
    background: #00FF97;
    width: 100%;
    max-width: initial;
    min-height: 40vh;
}

.signup{
    h2{
        text-align: center;
        font-size: 1.9rem;
    }
}