.speakers, .sponsors{
    max-width: 100%;
    width: 100%;
}

.speakers, .sponsors, .content{
    padding-bottom: 40px;
    margin: 80px auto 40px auto;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-flow: column nowrap;
}