include ../_mixins

doctype html
html
    head
        block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/dist/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/dist/images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/dist/images/favicon/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")

        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" media="screen" href="/assets/dist/css/main.css")

        script.
            (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
            var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
            f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
            var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
            _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

            var ml_account = ml('accounts', '2462815', 'l0a6r5v1k6', 'load');

    body
        include ../elements/canvas.pug
        include ../elements/header.pug
        main(role="main")
    
            block content
    

        section.form.last.margin-top
            p Weet zeker dat je <strong>niks mist</strong> en <strong>meld je nu aan!</strong>
            include ../elements/form.pug
        
        include ../elements/footer.pug

        script(src="/assets/dist/js/easel.min.js")
        script(src="/assets/dist/js/script.js")
