section.call-for-sponsors 
    h2.huge Maandelijks honderden WordPressers bereiken? 
    h4 Wordt sponsor van WPNL Live! 

    a(href="/call-for-sponsors/").button.
        Ja, ik wil graag sponsoren!