form.tinyletter(action="https://tinyletter.com/wcnl" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/wcnl', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true")
    label(for="tlemail") Aanmelden voor WPNL Live!
    .field-wrap
        input(type="text" placeholder="email@example.com" name="email" id="tlemail")
        input(type="hidden" value="1" name="embed")
        input(type="submit" value="Aanmelden" id="tlesubmit")

    small (<strong>Bonus:</strong>) al onze stoelen zijn op de eerste rij!)