form.tinyletter(netlify="true" name="gutenberg-tribe" method="post")
    label(for="tlemail") Aanmelden voor de Gutenberg Tribe
    .field-wrap
        input(type="text" placeholder="email@example.com" name="email" id="tlemail")
        input(type="hidden" value="1" name="embed")
        input(type="submit" value="Aanmelden" id="tlesubmit")