header
    a.logo(href="/" title="Home")
        +icon('logo')

    nav.menu-container
        ul.main-menu 
            li 
                a(href="/") Home
            li
                a(href="/agenda/") Agenda
            li 
                a(href="/community/") Community
            li
                a(href="/call-for-speakers/") Aanmelden als spreker!
            li
                a(href="/code-of-conduct/") Code of Conduct 
             
        button.toggle-menu
            span.open
                +icon('menu')
                span MENU
            span.close
                +icon('close')
                span CLOSE