section.speakers
    h2.huge Sprekers    
        span.dot

    article#bas
        img( src="assets/dist/images/bas.jpg").avatar
        .card
            h3 Sebastiaan van der Lans
            h4.title Hoe bestrijd je misinformatie en fraude terwijl je je SEO verbetert?