section.speakers
    h2.huge Sprekers    
        span.dot

    article#monique
        img( src="/assets/dist/images/monique.jpg").avatar
        .card
            h3 Monique Dubbelman
            h4.title Verbeter de usability van je website in 10 stappen

            p. 
                Iedereen herkent het meteen: een frustrerende ervaring op een website die niet doet wat jij wilt. 
                Heb je bijvoorbeeld wel eens geprobeerd om een blog te schrijven op je WordPress website 
                via je mobiele telefoon? Dat is -op zijn zachts gezegd- een suboptimale ervaring. Toch is er 
                wel wat aan te doen. Het geheim: de laatste organisatie heeft geïnvesteerd in UX (user experience) 
                research. In deze talk leer je over de 10 usability principes waarmee je zelf de 
                gebruiksvriendelijkheid van een website kunt testen (en naar klanten kunt onderbouwen 
                waarom ze jou moeten huren om dit te verbeteren ;)).

            strong Over Monique

            p. 
                Monique bouwde in de jaren 90 haar eerste website met HTML. In 2011 
                ging zij als zelfstandig professional webdesigner aan de slag. 
                Daarbij stond gebruiksvriendelijkheid altijd al centraal. 

            p.
                Sinds 2019 heeft ze haar krachten gebundeld met Jackie D’Elia en Cathi 
                Bosco in het internationaal design collectief UXATT. Samen helpen 
                zij developers en eigenaren de gebruiksvriendelijkheid van hun 
                digitale producten en diensten te verbeteren. Dit doen ze door 
                middel van onderzoek, training en design.

            strong Je vindt monique hier: 

            p mo@uxatt.com
            p 
                a(href="https://twitter.com/mdubbelm") twitter.com/mdubbelm
            p 
                a(href="https://www.linkedin.com/in/mdubbelm") linkedin.com/in/mdubbelm

    article#andree.pic-right
        img( src="/assets/dist/images/andree.jpg").avatar
        .card
            h3 Andrée Lange
            h4.title 10 tips om de conversie op je formulieren te verhogen

            p. 
                Formulieren zijn een extreem belangrijk onderdeel van het web. 
                Of het nu gaat om het aanmelden voor een cursus, een product kopen of 
                het downloaden van een whitepaper… het zijn allemaal situaties waarin 
                een formulier aan te pas komt. Het zijn ook vaak de onderdelen die te 
                maken hebben met conversie op je website. Maar hoe zorg je er nou voor 
                dat hier geen obstakels voor je gebruiker in zitten? Ik neem je mee en 
                vertel je 10 tips om de conversie op je formulieren te verhogen!


            strong Over Andrée

            p. 
                Andrée Lange werkt als Digital Designer bij Full-service WordPress 
                Agency Level Level in Rotterdam. Als Digital Designer vertaalt zij de 
                vraag van de klant naar een mooi, gebruiksvriendelijk én toegankelijk 
                eindproduct welke goed aansluit op de gebruiker. 

            p.
                Daarnaast is Andrée ook trainer bij The A11Y Collective, een e-learning 
                platform voor iedereen die meer wilt leren over webtoegankelijkheid. Ze 
                heeft hier de cursus ‘Accessible design, the basics’ opgezet; een cursus 
                speciaal voor designers die hen vertelt hoe je het beste toegankelijk 
                kunt ontwerpen.


