section.speakers
    h2.huge Q&amp;A    
        span.dot

     
    article#arnoud
        img( src="/assets/dist/images/arnoud.jpg").avatar
        .card
            h3 Arnoud Engelfriet
            h4.title ICT-Jurist
            p. 
                Arnoud Engelfriet is algemeen directeur en opleidingsdirecteur bij ICTRecht. 
                In 2008 maakte Arnoud de overstap naar ICTRecht. Hij is gespecialiseerd in internetrecht 
                waar hij zich al sinds 1993 mee bezighoudt. 
                Met zijn informatica-achtergrond richt hij zich graag op complexe 
                technisch/juridisch ICT-vraagstukken en softwarelicenties (met name open source). 
                Zijn website Ius mentis is één van de populairste van Nederland over ICT en recht.

                

section.signup
    h2.left Meld je direct aan!
    include form.pug
