section.speakers
    h2.huge Q&amp;A    
        span.dot

     
    article#arnoud
        img( src="/assets/dist/images/arnoud.jpg").avatar
        .card
            h3 Arnoud Engelfriet
            h4.title ICT-Jurist
            p. 
                Niemand minder dan Arnoud Engelfriet komt in de komende editie van WPNL Live jullie vragen over ICT en de wet beantwoorden! 
                Zodra je jezelf aanmeld voor de komende editie kun je direct jouw brandende vragen meesturen! 
                

section.signup
    h2.left Meld je direct aan!
    include form.pug
