section.speakers
    h2.huge Sprekers    
        span.dot

    article#marieke
        img( src="assets/dist/images/marieke.jpg").avatar
        .card
            h3 Marieke van de Rakt
            h4.title Met Content SEO het verschil maken in de zoekmachines!

            p. 
                WordPress out of the Box is eigenlijk al hartstikke SEO vriendelijk. 
                Als je dan ook nog zo’n te gekke SEO plugin erbij installeert dan ben je wat 
                technische SEO betreft eigenlijk al helemaal lekker bezig! Wil je echt 
                hoger (blijven) ranken dan je competitie, dan kun je het beste inzetten 
                op een kick-ass content SEO strategie. In deze talk ga ik in op twee 
                aspecten van content SEO: SEO copywriting en internal linking. Ik geef 
                daarbij een flink aantal concrete tips waarmee je echt direct aan de 
                slag kunt!

            strong Over Marieke

            p. 
                Marieke van de Rakt werkt sinds 2013 bij Yoast. 
                Daarvoor was zij als onderzoeker en docent werkzaam bij onder 
                andere de Radboud Universiteit. Bij Yoast heeft zij onder 
                meer Yoast Academy opgezet, het online cursussen platform. 
                Sinds begin 2019 is Marieke CEO van Yoast.


    article#francesca.pic-right
        img( src="/assets/dist/images/francesca.jpg").avatar
        .card
            h3 Francesca Marano
            h4.title A non-technical woman in tech: my path as a WordPress Core contributor

            p. 
                Can you truly contribute to WordPress Core or any other code-heavy team in WordPress 
                if you are not a back-end developer? I didn't think so and then my assumptions went 
                belly up when I was asked to be the release-lead for WordPress 5.3, last August.
            
            p From there, it has been a whirlwind of changes in my contribution trajectory: want to hear about it?

            strong About Francesca

            p. 
                Francesca is the WordPress Core Team Lead at Yoast, where we believe SEO is for everyone, and giving back to OSS is part of our mission.
                She co-led the release of WordPress.org 5.3 and 5.4. She is serving as the Core Team global representative and mentoring other women to get involved in making WordPress. 
                One of the things she is most proud of is her blog C+B, which helped many creative female entrepreneurs find their path throughout the years.
                As an accomplished educator, community leader, and public speaker, you can find Francesca around the world talking about hosting, WordPress, community, open-source, women in tech, and small businesses. Now from her living room, in Torino, Italy.


