section.speakers
    h2.huge Sprekers    
        span.dot

    article#marieke
        img( src="assets/dist/images/marieke.jpg").avatar
        .card
            h3 Marieke van de Rakt
            h4.title CEO van Yoast


    article#francesca.pic-right
        img( src="/assets/dist/images/francesca.jpg").avatar
        .card
            h3 Francesca Marano
            h4.title WordPress Core Team Lead