section.speakers
    h2.huge Sprekers    
        span.dot

    article#bas
        img( src="assets/dist/images/bas.jpg").avatar
        .card
            h3 Sebastiaan van der Lans
            h4.title Hoe bestrijd je misinformatie en fraude terwijl je je SEO verbetert?

    article#niels.pic-right
        img( src="assets/dist/images/niels.jpg").avatar
        .card
            h3 Niels de Blaauw
            h4.title Jouw maatschappelijk verantwoorde website
