section.speakers
    h2.huge Sprekers    
        span.dot

    article#jessica
        img( src="assets/dist/images/jessica.jpg").avatar
        .card
            h3 Jessica Risch
            h4.title Hoe automatiseer je een technische support afdeling? (NL)

            p. 
                Bij een technische support afdeling komt heel wat kijken, daarom
                kan het slim zijn om hier zoveel mogelijk in te automatiseren. 
                In deze talk gaan we kijken naar alle facetten van een support afdeling
                en hoe we deze kunnen automatiseren. We kijken onderandere naar: <br/><br/>
                
                <b>Het team</b> (wie hoort bij de afdeling?). <br/>
                <b>Welke systemen</b> gebruiken wij en hoe zetten we deze in? <br/>
                <b>Welke communicatiekanalen</b> kan ik inzetten, en hoe doe ik dat? <br/>
                <b>Interne- en externe communicatie</b> met de afdeling. <br/>
                <b>Service Level Agreements</b> en klantafspraken. <br/>
                Het verzamelen van <b>feedback</b> en doorvoeren van verbeteringen.

            strong Over Jessica
            p Jessica Risch is sinds 2013 actief binnen de e-commerce branche en oprichter van Woosa. Met haar passie voor techniek en design, kenmerkt Jessica zich als een creatieve en betrokken sparringspartner met als doel online ondernemen eenvoudig te maken. Met haar start-up Woosa maakt ze geavanceerde WooCommerce koppelingen eenvoudig en binnen handbereik voor zowel starter als gevorderde webshop-eigenaar. 


    article#jaime.pic-right
        img( src="assets/dist/images/jaime.jpg").avatar
        .card
            h3 Jaime Martinez
            h4.title "Zoeken binnen WordPress “Is it me you're looking for?" (NL)
            p. 
                Je site groeit goed door. Je hebt bergen artikelen of een flinke webshop waarbij je merkt dat de
                standaard zoekfunctionaliteit van WordPress net niet toereikend is om content goed te vinden.
                Soms het duurt allemaal iets te lang en tja, had ik maar van die fancy filters dat je binnen een
                specifieke categorie kon zoeken. En ai, was het maar niet zo erg als ik een spelfoud in mijn
                zoekterm had gemaakt... In mijn geval moest ik voor een klant vanuit 2 losse sites tegelijkertijd
                kunnen zoeken in beiden installaties. Dit laatste loste ik op via Elasticsearch en voor de filters
                kun je de plugin FacetWP inzetten. Dit in combinatie met de SearchWP plugin kun je de
                zoekervaring binnen je site naar een volgend niveau tillen.

            p. 
                Hoe je dit doet, dat ga ik je in mijn talk vertellen. Dus zoek niet verder als je mee wilt kijken
                achter de schermen naar de oplossingen voor deze uiteenlopende scenario’s.

            strong Over Jaime
            p. 
                Jaime is <a href="https://jaimemartinez.nl/">zelfstandig webdeveloper</a>, groot WordPress enthousiast en oprichter van Digital
                Passenger. Na 1.5 jaar reizen en werken in het buitenland, heeft hij zijn snowboard ingeruild
                voor zijn fiets en is hij weer verder aan de slag in Nederland.
            p Jaime is te bereiken op Twitter via <a href="https://twitter.com/jmslbam">@jmslbam</a>

    