section.speakers
    h2.huge Sprekers    
        span.dot

    article#bas
        img( src="assets/dist/images/bas.jpg").avatar
        .card
            h3 Sebastiaan van der Lans
            h4.title Hoe bestrijd je misinformatie en fraude terwijl je je SEO verbetert?

            p Het internet heeft ons leven geweldig makkelijk gemaakt, maar tegelijkertijd heeft het een enorme weeffout; betrouwbaarheid. Nog nooit was er zoveel online fraude en meer dan 67% van de Europeanen geeft zelf aan al eens in fake news getrapt te zijn. Hoe weet een consument of informatie op websites of shops betrouwbaar is? En hoe claim je eigenaarschap over je content?

            p. 
                Wat het internet nodig heeft is een laag van vertrouwen:
                ul
                    li Wat ik lees is echt, en ik kan checken wie de afzender is;
                    li Wat ik maak is van mij, en dat kan ik makkelijk bewijzen
                    li Als ik een keer onenigheid heb, bijvoorbeeld bij een aankoop, dan heb ik slagkracht, ik ben beschermd!

            p. 
                Met blockchain timestamps ontstaat die laag van vertrouwen over het internet op een open-source manier. Sebastiaan laat je exact zien hoe het werkt en is er tijd voor jouw vragen.
                Let's fix the broken web, together!


            strong Over Sebastiaan

            p. 
                Sebastiaan van der Lans has a big heart for open source. In 2006 he co-founded Amsterdam’s first WordPress agency ‘Van Ons’, which is a leading digital agency now, serving over 100M page views a year. In 2019, Sebastiaan founded WordProof, #1 winner in Europe’s 'Blockchains for Social Good’ contest. Sebastiaan has a strong passion for improving the playing fields of publishing, SEO, and e-commerce. Solutions by his teams are actively being used by over 100.000 organizations.


    article#niels.pic-right
        img( src="assets/dist/images/niels.jpg").avatar
        .card
            h3 Niels de Blaauw
            h4.title Jouw maatschappelijk verantwoorde website

            p. 
                Maatschappelijk verantwoord ondernemen (MVO) is gelukkig bijna overal de standaard. MVO wordt ook wel gezien als duurzaam ondernemen waarbij People, Planet en Profit de pijlers zijn.
            p. 
                Voor veel bedrijven is de website tegenwoordig een essentieel onderdeel in het ondernemen. Ook een website heeft daarom grote impact op de maatschappelijke elementen van jouw bedrijf. Welke keuzes maak je op het gebied van bijvoorbeeld duurzaamheid, security, privacy, gebruiksvriendelijkheid en toegankelijkheid? 

            strong Over Niels

            p. 
                Ik ben lead developer bij Level Level, het full service WordPress bureau in Rotterdam. Vanuit die rol ben ik betrokken bij veel fundamentele keuzes over de websites die we bouwen voor onze klanten. De vraagstukken gaan niet alleen over technische uitdagingen, maar ook steeds vaker over de impact van keuzes op gebruikers of de organisatie.

            p. 
                De talk is mede opgesteld met mijn collega Christien van de Sande. Als projectmanager bewaakt zij de balans tussen 'goed voor de business' en 'goed voor de maatschappij'. En gelukkig gaan die twee vaker dan je denkt heel goed samen.

            p Je vindt Niels op <a href="https://twitter.com/nielsdeblaauw">twitter @nielsdeblaauw</a>.