main{
    display: block;
    position: relative;
    line-height: 150%;

    a{
        color: black;
        text-decoration: underline;
        font-weight: bold;
        display: inline-block;
        padding: 3px;

        &:hover, &:focus{
            background: black;
            color: white;
        }
    }

    &:after{
        content: '';
        width: 150vw;
        position: absolute;
        top: 50px;
        height: 3px;
        background: black;
        left: -25vw;
        z-index: -1;
    }

     > section{
        max-width: 900px;
        margin: 0 auto;
    }
}