h1{
    color: #000;
    padding-top: 30px;
}


h2.huge{
    font-size: 3.8rem;
    grid-column: 4;
    display: block;
    width: 100%;
    text-align: right;
    margin: 0 0 50px 0;
    padding-right: 15px;
    line-height: 110%;

    &.left{
        text-align: left;
    }
}

.dot{
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background: #00FF97;
    display: inline-block;
    vertical-align: baseline;
    border-radius: 20px;
    margin: 0 0 -3px -8px;

    &.exclamation{

        &:before{
            position: absolute;
            content: '';
            width: 13px;
            height: 70px;
            background: black;
            top: -75px;
            left: 12px;
            transform: rotate(10deg);
            transition: .3s ease all;

            @media only screen and ( prefers-reduced-motion: reduce ){
                transition: none;
            }
        }
    }
}

h2.huge:hover .dot:before{
    transform: rotate( 0 );
    left: 2px; 
}


a{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding: 3px;

    &:hover, &:focus{
        background: black;
        color: white;
    }
}


a.button{
    background: black;
    color: white;
    margin: 3px 0 0 0;
    padding: 7px 15px;
    border-radius: 3px;
    display: inline-block;
    
    &:hover{
        background: $mint;
        color: black;
    }

    &.center{
        margin: 15px auto;
    }
}

@media only screen and (min-width: 750px){
    .dot{
        margin: 0 0 -5px -15px;
    }
    h2.huge{
        font-size: 7rem;
        padding-right: 30px;
    }
}

.title-break{
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    line-height: 150%;

    &:after{
        position: relative;
        content: '';
        background: white;
        display: block;
        height: 30px;
        top: -10px;
        border-top: 4px solid black;
        z-index: 20;
    }
}

p.align-left{
    text-align: left;
    ul, li{
        text-align: left;
    }
}

.code-of-conduct{
    padding: 0 15px 60px 15px;
    h3, .title-break{
        margin-top: 30px;
    }
}